* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.wrapper {
  max-width: 1300px;
  flex: 1;
  height: 100%;
  width: 100%;
  background-color: #8183853d;
  padding: 10px;
}

.video-wrap {
  width: 100%;
}

video {
  object-fit: cover;
  width: 100%;
  position: relative;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  pointer-events: none;
}

ul {
  min-height: 30%;
  height: 100%;
  padding-left: 0;
  list-style: none;
  column-count: 4;
  gap: 0;
}

li {
  padding: 8px;
  font-weight: 700;
  font-size: 18px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

li span {
  display: inline-block;
}

.timestamp-link {
  text-decoration: underline;
  cursor: pointer;
}

li > div {
  width: 100%;
  display: flex;
  gap: 20px;
}




